<!doctype HTML>
<html>
<head>
    <title>Bot Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Moderation Status</h1>
    <nav class="navbar">
        <div class="nav-logo">Bot Control</div>
        <ul class="links">
            <li><a src="/">Dashboard</a></li>
            <li><a src="/logs">Moderation Logs</a></li>
            <li><a src="/leaderboard">Leaderboard</a></li>
        </ul>
    </nav>
    <h2>Server Name: <strong>{{ guild_id }}</strong></h2>
    <p class="card">Total Warning Count: <strong>{{ count }}</strong><br>Bot latency: <strong>{{ latency }}ms</strong></p>
</body>
</html>