<!DOCTYPE HTML>
<html>
<head>
    <title>Bot Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Moderation Status</h1>
    <nav class="navbar">
        <div class="nav-logo">Bot Control</div>
        <ul class="links">
            <li><a href="/" style="color: #5865F2; text-decoration: none; font-weight: bold;">Dashboard</a></li>
            <li><a href="/logs" style="color: #5865F2; text-decoration: none; font-weight: bold;">Moderation Logs</a></li>
            <li><a href="/leaderboard" style="color: #5865F2; text-decoration: none; font-weight: bold;">Leaderboard</a></li>
            <li class="search">
                <form action="/search" method="post">
                <input type="text" name="target_id" placeholder="User ID:">
                <button type="submit">Search</button>
            </li>
        </ul>
    </nav>
    <h2>Server Name: <strong>{{ guild_id }}</strong></h2>
    <h3 class="card">Bot Status:</h3>
    <p class="card">
    Bot status: <strong>{{ status }}</strong>
    <br>Bot latency: <strong>{{ latency }}ms</strong>
    </p>
    <h3 class="card">Server Statistics:</h3>
    <p class="card">
    Member Count: <strong>{{ member_count }}</strong>
    <br>Role Count: <strong>{{ role_count }}</strong>
    <br>Date Created: <strong>{{ date_created }}</strong>
    </p>
    <h3 class="card">Moderation Action Count:</h3>
    <p class="card">
    Total Action Count: <strong>{{ count }}</strong>
    <br>Total Warn Count: <strong>{{ warn_count }}</strong>
    <br>Total Kick Count: <strong>{{ kick_count }}</strong>
    <br>Total Ban Count: <strong>{{ ban_count }}</strong>
    </p>
</body>
</html>