<!DOCTYPE HTML>
<html>
<head>
    <title>Bot Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Discord Moderation Log</h1>
    <nav class="navbar">
        <div class="nav-logo">Bot Control</div>
        <ul class="links">
            <li><a href="/" style="color: #5865F2; text-decoration: none; font-weight: bold;">Dashboard</a></li>
            <li><a href="/logs" style="color: #5865F2; text-decoration: none; font-weight: bold;">Moderation Logs</a></li>
            <li><a href="/leaderboard" style="color: #5865F2; text-decoration: none; font-weight: bold;">Leaderboard</a></li>
            <li class="search">
                <form action="/search" method="post">
                <input type="text" name="target_id" placeholder="User ID:">
                <button type="submit">Search</button>
            </li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>User ID</td>
                <td>Action</td>
                <td>Reason</td>
                <td>Timestamp</td>
            </tr>
        </thead>
        <tbody>
            {% for logs in logs %}
            <tr>
                <td>{{ logs["name"] }}</td>
                <td>{{ logs["user_id"] }}</td>
                <td>{{ logs["action"] }}</td>
                <td>{{ logs["reason"] }}</td>
                <td>{{ logs["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>